.text {
    &.title {
        font-size: 20px;
        font-weight: 400;
    }
}

a {
    outline: none;
    text-decoration: none;
}

::-webkit-scrollbar { 
    width: 0px; 
}

@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');